<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <title>Кинотеатр!</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Кинотеатр</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li th:if="${user.email} == 'Guest'" class="nav-item">
                    <a class="nav-item nav-link" th:href="@{/index}">Список фильмов</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li th:if="${user.email} == null" class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Войти</a>
                </li>
                <li th:if="${user.email} == null" class="nav-item">
                    <a class="nav-link" th:href="@{/registration}">Регистрация</a>
                </li>
                <li th:if="${user.email} != null" class="nav-item">
                    <a class="nav-link" th:text="'Вы вошли как : ' + ${user.username}"></a>
                </li>
                <li th:if="${user.email} != null" class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Выйти</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">
    <div class="card" style="width: 100%">
        <div class="card-header">
            <span th:text="'Киносеанс:  '+${show.name}"></span>
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-auto">
                    <img class="img-thumbnail" src="/img/showHall.png">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="card" style="width: 100%">
        <div class="card-header">
            <span>Выбор места:</span>
        </div>
        <div class="card-body justify-content-right ml-3">
            <div class="row" th:if="${cells.size() == 0}" th:text="'Свободные места отсутствуют'">

            </div>
            <div class="row mt-3" th:if="${cells.size() == 0}">
                <form th:action="@{/cancelBuyTicket}" method="POST">
                    <button type="submit" class="btn btn-secondary" style="width:200px">Вернуться к списку
                    </button>
                </form>
            </div>
            <div class="row" th:if="${cells.size() != 0}">
                <form th:action="@{/bookTicket}" method="POST">
                    <div class="form-group">
                        <label for="cell">Выберите место</label>
                        <select class="form-control" id="cell" name="cell">
                            <!--                            <option selected disabled="disabled">Выберите место</option>-->
                            <option th:each="cell : ${cells}" th:value="${cell}" th:text="${cell}+' место'"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-secondary">Бронирование билета</button>
                </form>
            </div>
            <div class="row mt-5" th:if="${cells.size() != 0}">
                <span style="font-size:10px">Для выбора доступны только свободные места</span>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>